body {
    margin: 0;
    font-family: sans-serif;
    background: #1e1e2f;
    color: white;
}

.desktop {
    display: flex;
    gap: 30px;
    padding: 40px;
}

.icon {
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.icon img {
    width: 64px;
}

.icon:hover {
    transform: scale(1.1);
}

.content {
    padding: 40px;
}

.push-btn {
   position: fixed;
    right: 50px;
   bottom: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:rgb(218, 184, 99);
    border: none;
    border-radius: 5px;
}

.input {
    position: fixed;
    padding: 10px;
    font-size: 16px;
    border-color: rgb(218, 184, 99);
    border-radius: 5px;
    bottom: 50px;
    left: 50px;
    background-color: transparent;
    color: white;
}

.input:focus {
    outline: none;
    border-color: rgb(218, 184, 99);
    box-shadow: 0 0 5px rgb(218, 184, 99);
}